<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
 package="apertx.teddy"
 android:versionCode="1"
 android:versionName="1.0">
 <uses-sdk
  android:minSdkVersion="5"
  android:targetSdkVersion="29"/>
 <application
  android:label="Teddy"
  android:icon="@drawable/teddy"
  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
  <activity
   android:name=".TeddyActivity"
   android:launchMode="singleTop"
   android:screenOrientation="landscape">
   <intent-filter>
    <action android:name="android.intent.action.MAIN"/>
    <category android:name="android.intent.category.LAUNCHER"/>
   </intent-filter>
  </activity>
 </application>
</manifest>

